
<h1>What kind of job?</h1>
<form action="/admin" method="POST">
  <input name="search" type="text" value="<%= @search %>"/>
  <input type="submit">
</form>

<h1>Manage Badges</h1>
<h2>Point Badges</h2>
<% @point_badges.each do |badge| %>
  <a href="<%= edit_point_badge_path(badge) %>">
    <%= image_tag badge.picture.url(:square) %>
  </a>
<% end %>
<%= link_to 'New Point Badge', new_point_badge_path %>

<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Education</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.education %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Job', new_job_path %>
