<h1>Editing job</h1>

<% if !@job.level.nil? and @job.level != 0 %>
Belongs to <%= link_to @job.category.title, @job.category %> category <br/>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>

<h3>Videos:</h3>
<% @job.videos.each do |video| %>
<div>
	<% if !video.video_url.nil? %>
	<iframe width="420" height="315" src="<%= video.embed_url %>" frameborder="0" allowfullscreen></iframe><br/>
	<% end %>
	<%= video.title %> - <%= link_to "show on youtube", video.video_url %> - <%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
	Description: <%= video.description %>
</div>
<% end %>

<%= link_to 'New video', new_job_video_path(@job) %> <br/><br/>

<h3>Success Card</h3>
<% @job.success_cards.each do |sc| %>
<div>
	<% if !sc.picture.nil? %>
    <%= image_tag sc.picture.url(:square) %><br/>
	<% end %>
  <%= sc.name %> - <%= link_to 'Edit', edit_success_card_path(sc) %> -  <%= link_to 'Destroy', sc, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
</div>
<% end %>


<%= link_to 'New Success Card', new_job_success_card_path(@job) %> <br/><br/>

<h3>Jobs in this category:</h3>
<% @job.jobs.each do |job| %>
<%= job.title %> - <%= link_to 'Show', job %> | <%= link_to 'Edit', edit_job_path(job) %><br/>
<% end %>
<br/>
<%= link_to 'Add A New Job To This Category', job_new_job_path(@job) %>
