<p id="notice"><%= notice %></p>

<h2 class="title">
  <%= @job.title %>
</h2>

<section id="description">
  <div class="img-cont">
    <img src="/assets/success.png" alt="">
  </div>
  <p>
    <strong>Description:</strong>
    <%= @job.description %>
  <br> <br>
    <strong>Education:</strong>
    <%= @job.education %>
  </p>
</section>

<section id="videos">
  <% @job.videos.each do |video| %>
      <% if !video.video_url.nil? %>
          <div>
            <iframe width="530" height="315" src="<%= video.embed_url %>" frameborder="0" allowfullscreen class="job-video"></iframe>
            <p>
              <span><%= video.title %></span>
              <br> <br>
              <%= video.description %>
            </p>
          </div>
      <% end %>
      <br>
  <% end %>
</section>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
