<div id="avatar">
  <h3>Avatar level</h3>
  <img src="/assets/gingerbread.png" alt="">
</div>
<div id="badges">
  <h3>My badges</h3>
  <div class="badge"></div>
  <div class="badge"></div>
  <div class="badge"></div>
  <div class="badge"></div>
  <div class="badge"></div>
  <div class="badge"></div>
  <div class="badge"></div>
  <div class="badge"></div>
</div>

<div id="points">

  <h3><%= @user.profile_name %></h3>
  <br>

  <div id="meter">
    <div id="top"><h2>My Score</h2></div>
    <div id="down">
      <%= @user.points %>
    </div>
  </div>
</div>
<section id="personal">
  <h2>
    Personal information
  </h2>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.profile_name %>
  <%= @user.email %>
</section>
<% if  @user.role == 0 %>
  Congratz, you're an admin.
<% end %>
