
<section class="log">

  <h2>Sign up now!</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :first_name, :class => "signup-texts"%>
        <%= f.text_field :first_name, :autofocus => true %></div>

      <div><%= f.label :last_name, :class => "signup-texts" %>
        <%= f.text_field :last_name %></div>

      <div><%= f.label :profile_name, :class => "signup-texts" %>
        <%= f.text_field :profile_name %></div>

      <div><%= f.label :email, :class => "signup-texts" %>
        <%= f.email_field :email %></div>

      <div><%= f.label :password, :class => "signup-texts" %>
        <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation, :class => "signup-texts" %>
        <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up", :class => "btn btn-primary",:id => "signup-btn"%></div>
  <% end %>

  <!--<%= render "devise/shared/links" %>-->
</section>
