<!DOCTYPE html>
<html>
  <head>
    <title>AChieve</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
    <a id="logo" href="javascript:location.reload(true);document.location='/'">
      <%= image_tag "/assets/logo2.png"%>
    </a>

    <a href="javascript:location.reload(true);document.location='/'">Careers</a>
    <a href="#">Inspiration</a>
    <a href="#">Events</a>
    <% if user_signed_in? %>
      <%= link_to "Profile", current_user, class: :link %>
      <%= link_to "Logout", destroy_user_session_path, class: :link, method: :delete %>
    <% else %>
      <div class="dropdown">
        <%= link_to "Sign in", "#" , :class => "link dropdown-toggle", :"data-toggle" => "dropdown" %>
        <div class="dropdown-menu">
          <%= form_for("user", :url => user_session_path) do |f| %>
            <%= f.label :email, :class => "texts"%>
            <%= f.text_field :email, :class => "inputs" %>
            <%= f.label :password, :class => "texts" %>
            <%= f.password_field :password, :class => "inputs" %>
            <%= link_to "Forgot your password?", new_password_path('user') %><br><br>
              <%= f.check_box :remember_me, :id => "remember_me" %>
              <%= f.label :remember_me, :class => "texts"   %>
            <%= f.submit 'Sign in', :class => "btn btn-primary" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>

    </header>
    <div id="page_block">


      <%= yield %>

    </div>

<footer>

  <a href="javascript:location.reload(true);document.location='/'">Home</a>
  <a href="#">Who we are</a>
  <a href="#">Join us</a>
  <a href="#">Contact us</a>
<br>

  <div id="social">
    <a href="https://twitter.com/a_chieve_org" target="_blank">
      <img src="/assets/twitter.png" alt="twitter">
    </a>
    <a href="https://www.facebook.com/achieve.org" target="_blank">
      <img src="/assets/fb.png" alt="fb">
    </a>
    <a href="http://www.youtube.com/user/achieveTVchannel" target="_blank">
      <img src="/assets/youtube.png" alt="youtube">
    </a>
  </div>

</footer>


  </body>
</html>
