<!DOCTYPE html>
<html>
<head>
  <title>AChieve</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<header>
  <a id="logo" href="javascript:location.reload(true);document.location='/'">
    <%= image_tag "/assets/logo_nobckg.png"%>
  </a>

  <a href="javascript:location.reload(true);document.location='/'">Careers</a>
  <a href="#">About us</a>
  <a href="#">Events</a>
  <a href=<%= new_user_session_path %> id="login">Log in</a>
  <a href=<%= new_user_registration_path %> id="signup">Sign up</a>


</header>
<div id="page_block">


  <%= yield %>

</div>
  </body>
</html>
