<!DOCTYPE html>
<html>
  <head>
    <title>AChieve</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
    <a id="logo" href="javascript:location.reload(true);document.location='/'">
      <%= image_tag "/assets/logo_nobckg.png"%>
    </a>

    <a href="javascript:location.reload(true);document.location='/'">Careers</a>
    <a href="#">About us</a>
    <a href="#">Events</a>
    <% if user_signed_in? %>
      <%= link_to "Profile", "#", class: :link %>
      <%= link_to "Logout", destroy_user_session_path, class: :link, method: :delete %>
    <% else %>
      <div class="dropdown">
        <%= link_to "Login", "#" , :class => "link dropdown-toggle", :"data-toggle" => "dropdown" %>
        <div class="dropdown-menu">
          <%= form_for("user", :url => user_session_path) do |f| %>
            <%= f.label :email %>
            <%= f.text_field :email %>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <%= f.submit 'Sign in' %>
            <%= link_to "Forgot your password?", new_password_path('user') %>
          <% end %>
        </div>
      </div>
      <%= link_to "Sign Up", new_user_registration_path, class: :link %>
    <% end %>

    </header>
    <div id="page_block">


      <%= yield %>

    </div>
  </body>
</html>
